<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <form id="getForm">
      <input
        type="text"
        placeholder="Type your pinname"
        id="firstget"
        autocomplete="off"
      />
      <button>Click Me to get your Password!</button>
    </form>
    <span id="resultget"></span>
    <form id="setForm">
      <input type="text" placeholder="Type yor pinname" id="firstset" />
      <input type="text" placeholder="Type your value" id="secondset" />
      <button>Click Me to set a Password!</button>
    </form>
    <span id="resultset"></span>
    <script>
      const valueOfInputField = document.querySelector("#firstget");
      let result = document.querySelector("#resultget");
      const setInputKey = document.querySelector("#firstset");
      const setInputValue = document.querySelector("#secondset");

      function handleGet(event) {
        event.preventDefault();
        console.log(valueOfInputField.value);
        const password = valueOfInputField.value;

        fetch(`/${password}`).then(function(response) {
          return response.text().then(function(text) {
            result.innerHTML = text;
            console.log(result);
          });
        });
      }

      function handleSet(event) {
        event.preventDefault();
        fetch(`/${setInputKey.value}`, {
          method: "POST",
          body: setInputValue.value
        });
      }

      getForm.addEventListener("submit", handleGet);
      setForm.addEventListener("submit", handleSet);
    </script>
  </body>
</html>
